body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgb(238, 234, 241);
  }
  
  .calculator {
    background: whitesmoke;
    width: 350px;
    box-shadow: 0 5px 30px -5px rgba(14, 13, 13, 0.6);
  }
  .display {
    background: #545252;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
  .display h1 {
    
    font-size: 40px;
    font-family: 'Lucida Console';
    font-weight: 100;
    margin: 0;
    padding: 20px;
    
  }
  .clear {
    
    background-color: rgb(219, 30, 30);
    color: white;
    border-radius: 75px;
    
  }
  .clear:hover {
    filter: brightness(80%);
  }
  
  .calculator-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  .equal-sign {
    background: rgb(81, 179, 81);
    color: white;
    grid-column: -2;
    grid-row: 2 / span 4;
  }
  button {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: rgb(79, 153, 227);
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
  }
  button:hover {
    filter: brightness(110%);
  }
  button:active {
    transform: translateY(2px);
  }
  button:focus {
    outline: none;
  }
  .operator {
    background: rgb(125, 145, 168);
    color: white;
    font-size: 30px;
  }

  
  
  @media screen and(max-width:600px) {
    .calculator {
      width: 95%;
    }
  }